<md-dialog aria-label="Visualization" style="width:50%" ng-cloak>
  
    <md-toolbar layout="row">
      <div class="md-toolbar-tools" layout-align="space-around center" style="background-color:#0071C5;color:white">
        <h2><h3 style="margin-right:285px">You've Timed Out!</h3></h2> 
      </div>
    </md-toolbar>

    <md-dialog-content>
       <p>
        You were idle too long. Normally you'd be logged out
       </p>
      <br>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="margin-bottom: 10px;margin-right: 20px">
      
      
    </md-dialog-actions>

</md-dialog>