<md-dialog aria-label="Visualization" style="width:50%">
  <form>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools" layout-align="space-around center" style="background-color:#0071C5;color:white">
        <h2><h3 style="margin-right:280px">Your session is about expire!</h3></h2> 
      </div>
    </md-toolbar>

    <md-dialog-content>

      <div idle-countdown="countdown" ng-init="countdown=20" style="margin-top:20px">
          <md-progress-linear md-mode="determinate" value="{{determineValue}}">
          </md-progress-linear>
          <div style="margin-top:10px;margin-left:100px;">You will be logged out in {{countdown}} seconds.</div>
              
      </div>
      <br>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="margin-bottom: 10px;margin-right: 20px">
      
      
    </md-dialog-actions>
  </form>
</md-dialog>