 <div class="left-sidebar parent">
	<div style="height: 100%;">
		<ul class="list-group" ng-click="toggleState()">
			<!-- my dashboards -->
	 		<li class="list-group-item" ng-click="getUserDashboards()" ng-class="{'active-sidebar-item': showmydashboards}" data-toggle="tooltip" data-placement="right" title="My Dashboards"><i class="fa fa-tachometer fa-2x"></i></li>	
	 		<!-- Metric List -->
	 		<li class="list-group-item" ng-click="getMetricsList()" ng-class="{'active-sidebar-item': metriclist}" data-toggle="tooltip" data-placement="right" title="Metric List"><img src="assets/images/metric.png" height="35" width="35"></li>
	 		<!-- Dashboard Filters -->
	 		<li class="list-group-item" ng-click="getFilters()" ng-show="!navigationIcon()" ng-class="{'active-sidebar-item': showfilters}" title="Filters"><i class="fa fa-filter fa-2x "></i>	 		
	 		</li>	
	 		<li class="list-group-item" ng-click="getFilters()" ng-show="navigationIcon()" ng-class="{'active-sidebar-item': showfilters}"  tooltip-class="appliedFilter" tooltip-placement="right" uib-tooltip-template="'components/directives/left-sidebar/appliedfilters.html'"><i class="fa fa-filter fa-2x "></i><i class="fa fa-exclamation-circle fa-1x"></i>	 		
	 		</li>
		</ul>
	</div>


 	<div ng-show="state" class="" id="sidebar-content">
 		<!-- my dashboards -->
 		<div ng-show="showmydashboards" > 			
 			<fieldset>
 				<span class="lead white-text">My Dashboards</span> 				
 				<ul class="sidebar-menu" style="max-height:300px ;overflow:auto;">
 					<li class="" ng-repeat="dashboard in myDashboardsList" style="max-height:250px ;overflow:auto;"> 
 						<a href="/?dashboardId={{dashboard._id.$oid}}" title="" class="sidebar-hover-effect white-text">{{dashboard.name}}</a>
 					</li>
 				</ul>
 			</fieldset>
 		</div>

 		<!-- Dashboard Filters -->
		<section ng-show="showfilters">
			<fieldset>
				<span class="lead white-text">Filters<button class="btn btn-default pull-right" ng-click="applyFilter()" ng-disabled="!showApplyButton">Apply
				</button></span><hr style="margin-bottom: 5px">
				<ul class="sidebar-menu" style="max-height:450px ;overflow:auto;">
					<li ng-repeat="(key, value) in GlobalFilters" class="text-capitalize active dropdown" ng-click="$event.stopPropagation();" role="presentation">
						<span class="white-text text-capitalize"  data-toggle="popover" title="Selected Filters" data-content="globalQuery[key]"ng-click="isCollapsed = !isCollapsed" style="cursor: pointer;">{{key}}
							<span class="glyphicon glyphicon-chevron-down white-text" ng-show="!isCollapsed"></span>
							<span class="glyphicon glyphicon-chevron-up white-text" ng-show="isCollapsed"></span>
							<label class="badge badge-important pull-right" title="Filters">{{globalQuery[key].length}}</label>
						</span>
						<section ng-show="isCollapsed" style="max-height:250px ;overflow:auto;">
							<ul class="list-group">
								<li class="list-group-item">
					            	<div class="input-group">	
										<input type="text" class="form-control" placeholder="Search..." ng-model="searchFilter" aria-describedby="basic-addon2">
										<span title="Remove search text" class="input-group-addon btn" id="basic-addon2" ng-click="searchFilter = ''"><i class="intelicon-close-outlined"></i></span>
										<span title="Remove Filters" class="input-group-addon btn" id="basic-addon2" ng-click="unselectAllFilterValues(key)"><i class="intelicon-cancel-filter-solid"></i></span>
									</div>
				            	</li>
								<li class="list-group-item" ng-repeat="item in value|orderBy|filter: searchFilter" ng-click="updateFilterQuery(key, item)">
									<span class="sidebar-hover-effect blue-text">
										<span class="glyphicon glyphicon-ok" ng-show="isInQuery(key, item)"></span>
										&nbsp;
										{{item}}
									</span>
								</li>
							</ul>
						</section>
					</li>			
				</ul>   
			</fieldset>
		</section>

 		<!-- metric list -->
 		<div ng-if="metriclist">
 			<fieldset>
 				<span class="lead white-text">Metrics</span> 				
 				<ul class="sidebar-menu" style="max-height:450px ;overflow:auto;">
 					<li class="list-group-item" style="background-color: #0071C5;">						            	
		            	<div class="input-group">						            		
							<input type="text" class="form-control" placeholder="Search workflow" ng-model="searchFilter" aria-describedby="basic-addon2">
							<span title="Remove search text" class="input-group-addon btn" id="basic-addon2" ng-click="searchFilter = ''"><i class="intelicon-close-outlined"></i></span>
						</div>						            	
	            	</li>
 					<li ng-repeat="(key, value) in dashboardList| orderBy:value.name|filter:searchFilter">
 						<span class="white-text text-capitalize" ng-click="isCollapsed = !isCollapsed" style="cursor: pointer;" data-toggle="popover" title="Selected Filters" data-content="globalQuery[key]">{{value.name}}
 							<span class="glyphicon glyphicon-chevron-down white-text" ng-show="!isCollapsed"></span>
							<span class="glyphicon glyphicon-chevron-up white-text" ng-show="isCollapsed"></span>
						</span>
						<section ng-show="isCollapsed">
							<ul class="list-group" >
								<li class="list-group-item text-capitalize" ng-repeat="item in value.members" ng-click="addMetric2Dashboard(item.id)">
									<span class="sidebar-hover-effect blue-text">
										{{item.name}}
									</span>						
								</li>
							</ul>
						</section>
 					</li>
 				</ul>
 			</fieldset>
 		</div>
 	</div>

</div>



