.av-arrow-box {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  font-size: 14px;
/*  min-width: 250px;*/
  display: inline-block;
  -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,.175);
  box-shadow: 1px 1px 8px rgba(0,0,0,.175);
  border-radius: 4px;
}

.av-arrow-box h4{
  margin:0;
  padding:10px 0;
  font-size:14px;
  color:#468ED9;
  border-bottom:1px solid #ccc; 
  }


.bottom.av-arrow-box:after, .bottom.av-arrow-box:before {
  top: 100%;
  left: 90%;


  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.bottom.av-arrow-box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #FFFFFF;
  border-width: 9px;
  margin-left: -5px;
}
.bottom.av-arrow-box:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #C2C2C2;
  border-width: 10px;
  margin-left: -6px;
}





.av-arrow-box dl{ padding:8px 15px 5px 15px;
  margin-bottom: 5px;}

.av-tooltip-box{
  display: block;}


.av-tooltip-box dl{ margin-bottom: 0px;}

.first.top.av-arrow-box:after, .first.top.av-arrow-box:before,.first.bottom.av-arrow-box:after, .first.bottom.av-arrow-box:before {left: 10%;}
.middle.top.av-arrow-box:after, .middle.top.av-arrow-box:before ,.middle.bottom.av-arrow-box:after, .middle.bottom.av-arrow-box:before {left: 47%;}
.last.top.av-arrow-box:after, .last.top.av-arrow-box:before, .last.bottom.av-arrow-box:after, .last.bottom.av-arrow-box:before {left: 90%;}

.top.av-arrow-box:after, .top.av-arrow-box:before {

  left: 10%;
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.top.av-arrow-box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 9px;
  margin-left: -7px;
}
.top.av-arrow-box:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #C2C2C2;
  border-width: 10px;
  margin-left: -8px;
}

.first.right.av-arrow-box:after, .first.right.av-arrow-box:before, .first.left.av-arrow-box:after, .first.left.av-arrow-box:before { top: 25%}
.middle.right.av-arrow-box:after, .middle.right.av-arrow-box:before, .middle.left.av-arrow-box:after, .middle.left.av-arrow-box:before { top: 59%}
.last.right.av-arrow-box:after, .last.right.av-arrow-box:before, .last.left.av-arrow-box:after, .last.left.av-arrow-box:before { top: 90%}

.right.av-arrow-box:after, .right.av-arrow-box:before {
  left: 100%;
  top: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.right.av-arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 6px;
  margin-top: -12px;
}
.right.av-arrow-box:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #c2c2c2;
  border-width: 7px;
  margin-top: -13px;
}


.left.av-arrow-box:after, .left.av-arrow-box:before {
  right: 100%;
  top: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.left.av-arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 6px;
  margin-top: -10px;
}
.left.av-arrow-box:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #c2c2c2;
  border-width: 7px;
  margin-top: -11px;

}
.dl-horizontal dt:after{ content: ':'}
.dl-horizontal dt {
  width: 125px;
  font-weight: normal;
}



.dl-horizontal dd{ font-weight: 700;margin-left: 140px;}

.av-obtn-pane{background:#f2f2f2; padding:5px; border-radius: 0 0 4px 4px; display: none;}
.av-obtn-pane ul{margin-bottom:0px;}

.av-lvl-1{font-weight: 700;
  padding: 0 10px 10px;
  border-bottom: 1px solid #eee; margin-bottom: 0px;}
.av-lvl-2{ font-size: 16px; padding-right: 10px;}
.av-lvl-3{ font-size: 14px; padding-right: 5px; font-weight: 200; color: #999;}

.av-arrow-box-inner{ padding:0px 5px;}


.option-btn.left.last.av-arrow-box:after {
  border-right-color: #f2f2f2!important;}


.option-btn.right.last.av-arrow-box:after {
  border-left-color:#f2f2f2!important;}


.option-btn.bottom.av-arrow-box:after{ border-top-color: #f2f2f2 !important;}
.option-btn .av-obtn-pane{ display: block!important;}

.av-obtn-pane li a{ color: #666;}

.av-obtn-pane li a:hover{ color: #333; text-decoration: none;}
tbody tr td:last-child b{padding-left: 5px; padding: 0 0 0 5px!important}
tbody tr td:first-child{ padding:0 5px 0 0;}

tbody tr td:first-child{  max-width: 120px;vertical-align: text-top; white-space: nowrap;}
tbody tr td:last-child{  max-width: 200px;}
tbody tr td{
  text-align: left !important;
  overflow: hidden;

  text-overflow: ellipsis;
  word-wrap: break-word;
}

    .tt-item{ font-family: "Intel Clear";
    margin: 5px ;
    padding-left: 25px;
        border: 1px solid #fff;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    background-color: #f8f8f8;
    padding: 5px 5px 5px 30px;
}
.tt-item.header{  margin:0;
  font-size:14px;
  color:#468ED9;
  border-bottom:1px solid #ccc; }

.tt-item.active{border-color: #999;}
               .tt-item-rec{ width: 18px;background:red; height:18px; position:absolute;left: 5px;
    top: 3px;}
  .tt-item-round .tt-item-rec{background: red;
    
    border-radius: 50%;}

  .tt-item-group{
      /*float: left; border-right: 1px solid  rgba(0,0,0,.15);*/
    }
  .tt-item b{
    float: right;
    text-align: right;
    /*width: 50px;*/
    
  }
.tt-container .tt-item-group:last-child{border-right:none;}
  .tt-container{    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);display: inline-block;
   border: 1px solid rgba(0,0,0,.15);}
  .tt-key{word-wrap: break-word; float: left;
    width: 125px;
    display: inline-block;}
    .clearfix{clear: both;}

   .tt-container b{ word-wrap: break-word;     padding: 0 5px;
    width: 70px; float: left;  display: inline-block;
    vertical-align: top;}
  /*//border: 1px solid #999;*/