<div class="modal-header">
	<h4 class="modal-title">Save Dashboard</h4>
</div>
<div class="modal-body" cg-busy="{promise:save_dashboard,templateUrl:'assets/waitLoader.html',message:'', backdrop:true,delay:0,minDuration:0}" >
	<!-- <pre ng-if="placeholder.dashboard.owner !== user && data.name === OldName" class="bg-danger">You are not dashboard Owner! You can not save it with same name.</pre> -->
	<p class="text-danger" ng-if="placeholder.dashboard.owner.toUpperCase() !== user.toUpperCase() && data.name.toUpperCase() === OldName.toUpperCase() && placeholder.dashboard._id!==1 ">You are not dashboard Owner! You can not save it with same name.</p>
	<br>
	<!-- <pre class="bg-danger" ng-if="data.name === OldName">Give a new name to save as another copy.</pre> -->
	<span class="text-primary" ng-if="data.name.toUpperCase() === OldName.toUpperCase()"><i class="fa fa-star"></i>&nbsp; Enter a new name to SAVE as new dashboard or click on OVERWRITE to update the existing dashboard  .</span>
		<br><br> 

	<span class="text-primary" ng-if="exist" style="color:red">Dashboard exists with the same name <a href="/?dashboardId={{dashboardUrl}}" target="_blank">click here</a> to view it.</span>
	<div>
		<input type="text" placeholder="Dashboard Name" class="form-control" ng-model="data.name">
	</div>	
	<br>
	<div>
		<textarea placeholder="Dashboard Description" ng-model="data.description" class="form-control"></textarea>		
	</div>
	<br>
    <div layout="row" layout-sm="column">
		    <div flex="25">
			       <md-radio-group ng-model="dashboardType.defaultDashboard" ng-change="getDashboardType()" class="md-primary" layout="row"
			       >		
					   <md-radio-button ng-repeat="dashboardType in dashboardType.lstDashboard"
		               ng-value="dashboardType.value"
		              >
		               {{ dashboardType.label }}<br/>
		            </md-radio-button>
				   </md-radio-group>
			</div>

			<div flex="75">
		      <input class="form-control" type="text"  data-intc-worker-picker="intc_worker_config" data-ng-model="intc_worker_config.worker" ng-show="isShowintc_worker"/>
		    </div>
		    
    </div>  
    
    
    <br>
    <div style="border:1px solid #b1babf;" ng-show="isVisibleDiv" >
        <ul class="list-inline">
        <li ng-repeat="name in accessList track by $index" style="margin-left:10px;margin-top:10px" ng-click="deleteSelectedItem(name)" >
           <span class="badge" style="cursor:pointer">{{name}}</span>
           <span class="glyphicon glyphicon-remove"></span>
        </li>
        </ul>
      	
		 
	</div>
	<div ng-show="isUserExist">
	   <span style="color:red">User already exists</span> 
	</div>         


</div>
<div class="modal-footer">	
	<button type="button" class="btn btn-primary" ng-click="save(true)" ng-show="data.name.toUpperCase() !== OldName.toUpperCase() || data.name === undefined">Create</button>
	<button type="button" class="btn btn-primary" ng-click="save(flase)" ng-show="placeholder.dashboard.owner.toUpperCase() === user.toUpperCase()">Overwrite</button>	 
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>