<section class="container-fluid row">
	<!-- left sidebar -->
	<section class="col-md-1">
		<section left-sidebar>sidebar</section>
	</section>
	<!-- left sidebar end -->
	<!-- Create new dashboard start-->
	<section class="col-md-11" ng-show="createNew" ng-click="closeLeftSideBar()">
		<dl>
			<blockquote>
				<p>
					<dt class="text-capitalize">To add metrics to new dashboard</dt>
					<dd>Click&nbsp;&nbsp;<i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;button on left sidebar.</dd>
				</p>
			</blockquote>
		</dl>
	</section>
	<!-- Create new dashboard start end-->
	<section class="col-md-11" ng-show="placeholder.metric.length >0" ng-click="closeLeftSideBar()">
		<section class="progress-bar progress-bar-danger col-md-11 container-fluid row" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;height:25px;margin-top: -20px" ng-if="objbrowserName!=='Chrome'">
			<span style="color:white;font-size:15;">Please use Google chrome for best performance.!!!</span>
		</section>
		<!-- dashboard buttons section -->
		<section class="row inline">
			<section class="col-sm-2">
			    <!-- dashboard name -->
				<i class="fa fa-file" ng-if="placeholder.dashboard.name"></i>&nbsp;&nbsp;<span class="lead">{{placeholder.dashboard.name}}</span><br>
				<small ng-if="placeholder.dashboard.description" class="">{{placeholder.dashboard.description|limitTo:100}}&nbsp;&nbsp;<i tooltip-placement="right"uib-tooltip="{{placeholder.dashboard.description}}">
				<i class="fa fa-info-circle"></i></i><br>
				</small>
				<span class="glyphicon glyphicon-user" style='top: 5px;'ng-if="placeholder.dashboard.owner"></span>
				<small ng-if="placeholder.dashboard.owner">&nbsp;{{placeholder.dashboard.owner}}</small>&nbsp;&nbsp;&nbsp;&nbsp;
				<!-- <i ng-if="placeholder.dashboard.modified_on" class="fa fa-calendar">&nbsp;&nbsp;</i>{{placeholder.dashboard.modified_on | limitTo:10}} -->
			</section>
			<section class=" col-sm-10">	
				<section class="pull-right">
					<button type="button" class="btn btn-primary" ng-click="launchSave()">Save</button>
				  	<button type="button" class="btn btn-default btn-md" ng-click="addTextBox()" ng-if="meta.view_type=='metriccard'"><i class="fa fa-text-width"></i> Add Text</button>	
				  	<span ng-hide ="placeholder.dashboard._id === undefined || placeholder.dashboard._id === 1">
						<button type="button" class="btn btn-default btn-md" ng-click="setHomepage()"><i class="fa fa-home"></i> Set HomePage </button>
						<button type="button" class="btn btn-default btn-md" ng-click="setFavorite()"><i class="fa fa-heart"></i> Set Favourite </button>		
						<button type="button" class="btn btn-default btn-md" ng-click="save2document()" ><i class="fa fa-envelope-o"></i> Send Mail </button>
						<button type="button" class="btn btn-default btn-md" ng-click="delete()" ng-hide="placeholder.dashboard.owner.toUpperCase() !== user.toUpperCase()"><i class="fa fa-trash"></i> Delete </button>
					</span>
					<form class="form-inline pull-right">
						<select style="margin-top:10px;color:#0071C5;text-transform:capitalize;" ng-model="meta.view_type" ng-options="view_type for view_type in view_types" class="form-control" ng-click="checkViewType()"></select>
				    </form>
				</section>
			</section>	
		</section>				
		<section class="row" >&nbsp;</section>
		<!-- <hr/> -->
		<!-- <div ng-switch on="selection"> -->
		<section ng-if="meta.view_type=='scorecard'">
			<form class="form-inline" style="margin-bottom: 10px;" >
				<div class="input-group">				  
				  <select ng-options="quarter for quarter in [] | range:0:5" ng-model="meta.details[2].window_size"  class="form-control"></select>
				  <span class="input-group-addon" id="basic-addon1">Quarter</span>
				</div>
				&nbsp;&nbsp;
				<div class="input-group">				  
				  <select ng-options="month for month in [] | range:0:13" ng-model="meta.details[1].window_size"  class="form-control"></select>
				  <span class="input-group-addon" id="basic-addon1">Month</span>
				</div>
				&nbsp;&nbsp;
				<div class="input-group">				  
				  <select ng-options="work_week for work_week in [] | range:0:53" ng-model="meta.details[0].window_size" class="form-control"></select>
				  <span class="input-group-addon" id="basic-addon1">Work Week</span>
				</div>
				<button type="submit" class="btn btn-primary" style="margin-top:2px;" ng-click="changeCardData()">Apply</button>
			</form>
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead class="thead-inverse">
						<tr>
							<th>Metric Name</th>
							<th>Measure Name</th>
							<th ng-repeat="header in scorecard_header track by $index">{{header}}</th>
						</tr>
					</thead>
					<tr ng-repeat="measure in measureList track by $index" ng-init="rowspan = rowspanCalculator($index)">
					   	<td class="word-wrap:break-word" rowspan="{{rowspan}}" ng-if="measure[0] != ''">{{measure['0']}}</td>
					    <td>{{measure['1']}}<br>
							<span ng-if="measure.goal.value" class="help-block">
							Target {{measure.goal.comparision}} {{measure.goal.value}}/{{measure.goal.scale}}</span>
						</td>
					   	<td ng-repeat="(key, value) in measure['2'] track by $index" ng-class="{'red':targetMet, 'green': targetMiss}" ng-init="targetMet=evaluateTarget(measure,value,$index)" style="vertical-align: middle">{{value}}</td>
					</tr>
				</table>
			</div>
		</section>
      	<!-- Dashboard Section -->
		<section gridster="gridsterDashboardOpts" class="center-block text-center" id="dashboard">
			<ul ng-show="meta.view_type=='metriccard'" >
				<!-- metric card area -->
				<li gridster-item row="item.position[0]" col="item.position[1]" size-x="item.size.x" size-y="item.size.y" ng-repeat="item in placeholder.metric track by $index" class="metric-card">		
				<div ng-if="item.name!==undefined">
					<section metriccard  metric-data="item" metric-index="$index" class="metric-card-item"></section>
				</div>
				</li>
				<!-- metric card area end -->
				<!-- text boxes area -->
				<li gridster-item row="item.position[0]" col="item.position[1]" size-x="item.size.x" size-y="item.size.y" ng-repeat="item in placeholder.textBoxes" style="border-width: 1px;border-color: #DDDDDD; border-style: solid" >					
					<section class="panel">                                       
						<section class="panel-heading">
							<span class="pull-left"><span class="glyphicon glyphicon-move mover-handle"></span></span>
							<span class="pull-right"><span class="glyphicon glyphicon-trash" ng-click="removeTextBox(item)"></span></span>
						</section>
						<section class="panel-body">    
							<textarea style="width:100%; border:none;" ng-model="item.text" placeholder="Enter Your Text Here" ng-class="placeholder.edited = true" style="resize: both; overflow: auto"></textarea>
						</section>
					</section>          
				</li>				
				<!-- text boxes area end -->
			</ul>			
		</section>  
		<!-- dashboard section end -->
	</section>
</section>






