<div>
	<label style="color:red" ng-show="data['distributions'][0]['advance_viz']">**Goal can be set w.r.t. Work Week, Month and Quarter </label>
	<ul class="list-group">	
		<li class="list-group-item" ng-repeat="measure in data['measures'] track by $index" ng-init="measureInfo[$index]=measure;measureInfo[$index].active = measure.active;goal[$index]=measureInfo[$index].goal"  ng-class="{'disabled':measureInfo[$index].active==false}">
			<h5>{{measure.name}}&nbsp;:&nbsp;&nbsp;{{measure.value|number}}{{measure.unit}}			
				<a href ng-click="toggelActive($index)" class="pull-right">							
				<span ng-show="measureInfo[$index].active || measureInfo[$index].active == undefined" class="badge" >Disable Measure</span>
				<span ng-hide="measureInfo[$index].active || measureInfo[$index].active == undefined" class="badge" style="background-color: #5cb85c;">Enable Measure</span>
				</a>
			</h5>
			<div ng-show="measureInfo[$index].active || measureInfo[$index].active == undefined">		
				<div ng-if="measure.type !== 'percentile' && measure.type !== 'breakup' && measure.type !=='percentage' && measure.type!=='mean'">
					<div ng-cloak>
					  	<md-content style="margin: 16px; padding:16px" ng-class="{'disabled':data['distributions'][0]['advance_viz']}">
					    	<div layout>
					     	    <div layout layout-align="center center">
					        		<span class="md-body-1" style="font-size:large">Goal</span>&nbsp;&nbsp;&nbsp;
				       				<select style="font-size:larger" ng-model="goal[$index].comparision" >
						 				<option value="<">&lt;</option>
						  				<option value=">">&gt;</option>
						  				<option value="<=">&lt;=</option>
						  				<option value=">=">&gt;=</option>
									</select>&nbsp;&nbsp;&nbsp;
									<div>
										<input type="number" step="any" placeholder="value" ng-model="goal[$index].value">
									</div>&nbsp;&nbsp;/&nbsp;&nbsp;
									<select style="font-size:larger" ng-model="goal[$index].scale">
							  			<option value="work_week">Work Week</option>
							  			<option value="month">Month</option>
							  			<option value="quarter">Quarter</option>
									</select>&nbsp;&nbsp;&nbsp;
				      			</div>&nbsp;&nbsp;&nbsp;  
					    	</div>
					  	</md-content>
					</div>
				</div>
				<a ng-click="isCollapsed = !isCollapsed" href='' style="color:black; font-style: italic;"> Click here</a> for details
				<br>
				<div collapse="!isCollapsed">
					<table class="table table-bordered table-striped table-intel" style="color:black">		
						<tbody>
							<tr>
								<th>Data Type</th>
								<td>{{measure.datatype}}</td>
								</tr>
								<tr>
								<th>Type</th>
								<td>{{measure.type}}</td>
							</tr>
							<tr>
								<th>Formula</th>
								<td>
								{{measure.measure_details.m_formula}}
								</td>
							</tr>
							<tr>
								<th>Conditions</th>
								<td>
									<table ng-repeat = "condition in measure.measure_details.m_condition">
										<tbody>
											<tr>
												<td>{{condition}}</td>			
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<th>Unit</th>
								<td>{{measure.unit}}</td>
							</tr>
						</tbody>
					</table>
				</div>			
			</div>	
		</li>
	</ul>
</div>

<md-divider></md-divider>

