

<div class="md-padding">
    <!-- <div layout-gt-sm="row" layout-align="end center">
        <md-checkbox aria-label="Checkbox" class="md-primary" ng-click="setDefaultVisualization()" >
        <em style="color:#0071C5">Set to Default</em>
        </md-checkbox>
    </div> -->
    <label style="color:red" ng-if="avData.y_data.length>1">**Select Single value in Y-Axis to enable GroupBy Functionality</label>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex= "40" style="margin-left:7px">
        <label>X-Axis</label>
        <md-select ng-model="avData.x_data">
          <md-option ng-repeat="key in allfilterkeys|orderBy|filter: searchFilter">
            {{key}}
          </md-option>
        </md-select>
        {{GlobalFilters}}
      </md-input-container>

      <md-input-container class="md-block" flex= "55" style="margin-left:5%; margin-right:10px">
        <label>X-Axis Values</label>
        <md-select ng-model="avData.x_options[avData.x_data]" multiple>
        <md-optgroup style="margin-left:10px">
         <!--  <md-checkbox aria-label="Select All"
                     ng-checked=isChecked(avData.x_data,"xData")
                     ng-click="toggleAll(avData.x_data,'xData')">
          <span ng-if="isChecked(avData.x_data,'xData')">Un-</span>Select All
          </md-checkbox> -->
          <md-option ng-value="value" ng-repeat="value in allFilterData[avData.x_data]" >{{value}}</md-option>
        </md-optgroup>
        </md-select>          
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm style="margin-left:7px; margin-right:10px">
        <label>Y-Axis</label>
        <md-select ng-model="avData.y_data" multiple>
          <md-optgroup>
            <md-option ng-value="measure.name" ng-repeat="measure in data.measures" ng-if="measure.type !== 'percentile' && measure.type !== 'breakup' && measure.type !=='percentage' && measure.type!=='mean'">{{measure.name}}</md-option>
          </md-optgroup>
        </md-select>  
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm style="margin-left:7px; margin-right:10px" ng-hide="avData.y_data.length>1" >
        <label>Group By</label>
        <md-select ng-model="avData.group_by" >
          <md-option ng-repeat="(key,values) in allFilterData" ng-if="key !== avData.x_data" >
            {{key}}
          </md-option>
          <md-option>
            Not Required
          </md-option>
        </md-select>
      </md-input-container>  
    </div> 
    

  
</div>
<md-divider></md-divider>
