<section class="modal-header">
	<h4 class="modal-title">Metric Data</h4>
</section>
<section class="modal-body">
	<section class="well">
		Drag from left to right to select columns for data table.
	</section>
	<section class="inline-parent">
		<!-- left array list -->
		<section ui-sortable="sortableOptions" class="pull-left sortable-list" ng-model="leftList" style="min-width:30%;">
	      <!-- <section class="app" ng-repeat="app in list1">{{$index}} {{app.title}}</section> -->
	    	<section>Column</section>
	    	<section>Column</section>
	    	<section>Column</section>
	    	<section>Column</section>
	    	<section>Column</section>
	    </section>		
	    <!-- left array list end -->

	    <!-- right array list -->
		<section ui-sortable="sortableOptions" class="pull-right sortable-list" ng-model="rightList" style="min-width:30%;">
	      <!-- <section class="app" ng-repeat="app in list1">{{$index}} {{app.title}}</section> -->
	      <section>Column</section>
	      <!-- <section>Column</section> -->
	      <!-- <section>Column</section> -->
	      <section>Column</section>
	      <section>Column</section>
	    </section>
    </section>
    <!-- right array list end -->
</section>
<section class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</section>