<div class="modal-header">
	<h4 class="modal-title">Metric Filters</h4>
</div>
<div class="modal-body" ng-init="getFilters()" cg-busy="{promise:metricPromise,templateUrl:'assets/waitLoader.html',message:'', backdrop:true,delay:0,minDuration:0}">			
	<ul class="sidebar-menu" style="max-height:450px ;overflow:auto;">
		<li ng-repeat="(key, value) in filterSubData" class="text-uppercase active dropdown" ng-click="$event.stopPropagation();" role="presentation" style="background-color: #0071C5;color:white;">
			<span class="wtext-capitalize"  data-toggle="popover" title="Selected Filters" data-content="filterQuery[key]"ng-click="isCollapsed = !isCollapsed" style="cursor: pointer;">{{key}}
				<span class="glyphicon glyphicon-chevron-down white-text" ng-show="!isCollapsed"></span>
				<span class="glyphicon glyphicon-chevron-up white-text" ng-show="isCollapsed"></span>
				<label class="badge badge-important pull-right" title="Filters">{{filterQuery[key].length}}</label>
			</span>
			<section ng-show="isCollapsed">
				<ul class="list-group" style="max-height:150px ;overflow:auto;">
					<li class="list-group-item">
		            	<div class="input-group">	
							<input type="text" class="form-control" placeholder="Search..." ng-model="searchFilter" aria-describedby="basic-addon2">
							<span title="Remove search text" class="input-group-addon btn" id="basic-addon2" ng-click="searchFilter = ''"><i class="intelicon-close-outlined"></i></span>
							<span title="Remove Filters" class="input-group-addon btn" id="basic-addon2" ng-click="unselectAllFilterValues(key)"><i class="intelicon-cancel-filter-solid"></i></span>
						</div>
	            	</li>
					<li class="list-group-item" ng-repeat="item in value|orderBy|filter: searchFilter" ng-click="updateFilterQuery(key, item)">
						<span class="sidebar-hover-effect blue-text">
							<span class="glyphicon glyphicon-ok" ng-show="isInQuery(key, item)"></span>
							&nbsp;
							{{item}}
						</span>
					</li>
				</ul>
			</section>
		</li>					
	</ul>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="save('filter')">Apply</button>
	<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>