<div class="modal-header">
	<h4 class="modal-title">Measures</h4>
</div>
<div class="modal-body">
	<ul class="list-group">	
		<li class="list-group-item" ng-repeat="measure in data track by $index" ng-init="measureInfo[$index]=measure;measureInfo[$index].active = measure.active; tempThreshold[$index].uw = measureInfo[$index].threshold.upperWarning; tempThreshold[$index].ua = measureInfo[$index].threshold.upperAlert; tempThreshold[$index].lw = measureInfo[$index].threshold.lowerWarning; tempThreshold[$index].la = measureInfo[$index].threshold.lowerAlert;goal[$index]=measureInfo[$index].goal"  ng-class="{'disabled':measureInfo[$index].active==false}" >{{measure}}
			<h5>{{measure.name}}&nbsp;:&nbsp;&nbsp;{{measure.value|number}}{{measure.unit}}			
				<a href ng-click="toggelActive($index)" class="pull-right">							
				<span ng-show="measureInfo[$index].active || measureInfo[$index].active == undefined" class="badge" >Disable Measure</span>
				<span ng-hide="measureInfo[$index].active || measureInfo[$index].active == undefined" class="badge" style="background-color: #5cb85c;">Enable Measure</span>
				</a>
			</h5>
			<div ng-show="measureInfo[$index].active || measureInfo[$index].active == undefined">		
				<div ng-if="measure.type !== 'percentile' && measure.type !== 'breakup'">
					<div ng-cloak>
					  <md-content style="margin: 16px; padding:16px">
					    <div layout>
					      <div flex="10" layout layout-align="center center">
					        <span class="md-body-1">Goal</span>
					      </div>
					      <!-- <md-slider flex min="0" max={{measure.value|number}} ng-model="goal[$index]" aria-label="red" id="red-slider" class>
					      </md-slider> -->
					      <div flex="20" layout layout-align="center center">
					        <input flex type="number" ng-model="goal[$index]" aria-label="red" aria-controls="red-slider">
					      </div>&nbsp;/Quarter
					    </div>
					  </md-content>
					</div>
					<!-- <table class="table  table-intel" >
						<tbody>
							<tr>
								<td style="border:none"></td>
							    <td class="msg" style="border:none"><span class="Warning"></span> Warning </td>
							    <td class="msg" style="border:none"><span class="Alert"></span>Alert </td>
							</tr>
							<tr>
								<td style="border:none"><b><font size="3.5px">Upper Threshold</font></b> 
								</td>
								<td style="border:none" align="center" >
									<input class="form-control"type="number" ng-model="tempThreshold[$index].uw" style="text-align:right" placeholder="Warning">
								</td>
								<td style="border:none" align="center" >
									<input class="form-control" type="number" ng-model="tempThreshold[$index].ua" style="text-align:right" placeholder="Alert">
									<span ng-show="tempThreshold[$index].ua < tempThreshold[$index].uw">Alert should be greater than Warning</span>
	
								</td>
							</tr>
							<tr>
								<td style="border:none"><b><font size="3.5px">Lower Threshold</font></b> 
								</td>
								<td style="border:none" align="center" >
									<input class="form-control" type="number" ng-model="tempThreshold[$index].lw" style="text-align:right" placeholder="Warning">
									</td>
								<td style="border:none" align="center" >
									<input class="form-control" type="number" ng-model="tempThreshold[$index].la" class="has-error" style="text-align:right" placeholder="Alert">
									<span ng-show="tempThreshold[$index].la > tempThreshold[$index].lw" >Alert should be lesser than Warning</span>
								</td>
							</tr>
						</tbody>
					</table> -->
				</div>
				<a ng-click="isCollapsed = !isCollapsed" href='' style="color:black; font-style: italic;"> Click here</a> for details
				<br>
				<div collapse="!isCollapsed">
					<table class="table table-bordered table-striped table-intel" style="color:black">							
						<tbody>
							<tr>
								<th>Data Type</th>
								<td>{{measure.datatype}}</td>
								</tr>
								<tr>
								<th>Type</th>
								<td>{{measure.type}}</td>
							</tr>
							<tr>
								<th>Measure Mappping</th>
								<td>

								<table class="table table-bordered table-striped table-intel" ng-repeat="measure_mapping in measure.measure_mappings">
									<tbody>
										<tr>
											<th>Conditions</th>
											<td>{{measure_mapping.conditions}}</td>			
										</tr>
										<tr>
											<th>Formula</th>
											<td>{{measure_mapping.formula}}</td>			
										</tr>
									</tbody>
								</table>
								</td>
							</tr>
							<tr>
								<th>Value</th>
								<td>{{measure.value}}</td>
							</tr>
							<tr>
								<th>Expression</th>
								<td>{{measure.expression}}</td>
							</tr>
							<tr>
								<th>Unit</th>
								<td>{{measure.unit}}</td>
							</tr>
						</tbody>
					</table>
				</div>			
			</div>	
		</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="save('measure')" ng-class="{'disabled':compareThreshold()}">Apply</button>	
	<button type="button" class="btn btn-default" ng-click="cancel()" >Cancel</button>
</div>