.uncheckedClass {
    background-color:#eeeeee;
    color:black;
}
 
.checkedClass {
    background-color:#3ab44a;
    color:white;
}



/**
 * used in data dialog
 */
.inline-parent{
	display: table;
	margin: 0 auto;
	width: 100%;
}

.inline-parent .sortable-list{
	display: table-cell;
	border-width: 2px;
	border-style: solid;
	margin: 40px;
	border-color: #DDDDDD;

}

.sortable-list > section{
	display: block;
	background-color: #00599B;
	margin: 3px;
	padding: 2px;
	color: white;
}