<div class="modal-header" >
	<h4 class="modal-title"><span class="glyphicon glyphicon-star"></span>
		Save As
	</h4>
</div>
<div class="modal-body">
	<ng-form>
	<div class="form-group input-group-lg">
	<input type="text" class="form-control" name="DBName" id="DBName" ng-model="dashBoard.dashBoardName">
	</div>
	</ng-form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="save('saveDBName')">Save</button>
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>