<section ng-model="metricModel">
    <section class="panel panel-default metric-card-panel" ng-class="{'panel-danger':alertBreached, 'panel-warning': warningBreached}" >
        <section class="panel-heading">
            <ul class="panel-title list-inline mover-handle">
                <li class="pull-left" uib-dropdown on-toggle="toggled(open)">
                    <a href id="simple-dropdown" uib-dropdown-toggle>
                    <i class="fa fa-align-justify"></i>
                    </a>
                    <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown" >
                        <li ng-click="launch('actions')" class="disabled"><a href="#">Actions</a></li>
                        <li role="separator" class="divider"></li>  
                        <li ng-click="launch($event,'data',metricData)"><a href="#">Data</a></li>
                        <li ng-click="launch($event,'filter',metricData)"><a href="#">Filters</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="launch($event,'measure',metricData,mydata)"><a href="#">Measures</a></li>    
                        <li ng-click="launch($event,'visualization',metricData)">
                            <a href="#">Visualizations</a>
                        </li>                     
                        <li role="separator" class="divider"></li>
                        <li ng-click="launch($event,'metric',metricData)"><a href="#">Metric Details</a></li> 
                        <li ng-click="removeMetric('metric',metricData)"><a href="#">Remove</a></li>
                    </ul>                
                </li> 
                <!-- <li class="fa fa-bar-chart pull-left" style="cursor: pointer; margin-top:3px;"ng-click="changeViz('bar')" ng-if="metricData['distributions'][0]['distribution_data']"></li>
                <li class="fa fa-line-chart pull-left" style="cursor: pointer; margin-top:3px;" ng-click="changeViz('line')" ng-if="metricData['distributions'][0]['distribution_data']"></li> -->
                <li class="pull-left">
                    <span  ng-if="!isEmpty(metricData.filters)"><i class="fa fa-exclamation-circle" tooltip-class="appliedFilter" tooltip-placement="left-bottom" uib-tooltip-template="'app/metrics/metric-card/metricFilters.html'"></i>
                    </span>
                </li> 
                <li class=""><span href="#" editable-text="metricData.alias">{{ metricData.alias || "empty" }}</a></li> 
            </ul>             
        </section>
        <!-- metric Card Body -->
        <section class="panel-body" id="waitloader" cg-busy="{promise:metricLoader,templateUrl:'assets/waitLoader.html',message:'', backdrop:true,delay:0,minDuration:0}" > 
  	      <section>
             <section class="pull-right" ng-if="metricData['distributions'][0] && !metricData['distributions'][0]['advance_viz']">
                <!-- <span>X-Axis:</span> --><!-- !metricData['distributions'][0]['advance_viz'] || -->
                <span class="badge" ng-click="changeXaxis('WW')" style="cursor:pointer">WW</span>
                <span class="badge" ng-click="changeXaxis('Month')" style="cursor:pointer">Month</span>
                <span class="badge" ng-click="changeXaxis('Quarter')" style="cursor:pointer">Quarter</span>
            </section>
            <!-- <smm-multi-chart options="options1" handle="handle" data="metricData['distributions'][0]['distribution_data']['data']"  ng-show="line"></smm-multi-chart> -->
            <section ng-if="metricData['distributions'][0]">
                <smm-multi-chart options="options5" data="metricData['distributions'][0]['distribution_data']['data']" measures="metricData['measures']" ng-show="!line"></smm-multi-chart>
            </section>
          </section>                         
                <ul class="list-inline" >
                    <li ng-repeat= "measure in metricData['measures'] track by $index" ng-if="measure.type !== 'percentile' && measure.type !== 'breakup'" class="measure-card" 
                         ng-class="{'warning-breached': (measure.goal.value !== null && measure_color_green[$index]),
                        'alert-breached': (measure.goal.value !== null && measure_color_red[$index])}"  ng-show="measure.active || measure.active == undefined" tooltip-class="Thresold" tooltip-placement="right" uib-tooltip-template="'app/metrics/metric-card/threshold.html'">
                            <span><b>{{measure.value|number}}{{measure.unit}}</b></span><br>
                            <span>{{measure.name}}</span>                      
                    </li><br>
                    <li ng-repeat= "measure in metricData['measures']" class="measure-card"  ng-if="measure.type === 'percentile'"ng-show="measure.active || measure.active == undefined" style="padding-right: 5px;">
                        <table>
                            <tr>
                                <td ng-repeat="(key, value) in measure.value" style="padding-right: 5px;padding-left: 5px;">{{key | ordinal}}
                                </td>
                            </tr>
                            <tr>
                                <td ng-repeat="(key, value) in measure.value" style="padding-right: 5px;padding-left: 5px;"><b>{{value|number}} {{measure.unit}}</b>
                                </td>
                            </tr>
                            {{measure.name}}
                        </table>
                    </li>
                    <li ng-repeat= "measure in metricData['measures']" class="measure-card"  ng-if="measure.type === 'breakup'"ng-show="measure.active || measure.active == undefined" style="padding-right: 5px;">
                        <table ng-init="items = customFilter(measure.value)">
                            <tr>
                                <td ng-repeat="(key,value) in items" style="padding-right: 5px;padding-left: 5px;">
                                    {{items[key]['key'].split('@')[1]}}
                                </td>
                            </tr>
                            <tr>
                                <td ng-repeat="(key, value) in items" style="padding-right: 5px;padding-left: 5px;"><b>{{items[key]['value']}} {{measure.unit}}</b>
                                </td>
                            </tr>
                            {{measure.name}}
                        </table>
                    </li>
                </ul>    
        </section>
    </section>
</section>



