.measure-value{
   font-size: 36px;
}

.measure-card{      
	&:hover{
	   background-color: #0061A9 !important;
	   cursor: pointer;
	   color: white !important;
	}
	margin: 3px;
	background-color: #EDEFF0;
	border-radius: 3px;
	padding: 2px;
}

.success{
	color: black;
	background-color: #96D623;
	box-shadow: "red";
	&:after{		
		content: " \f071";
		font-family: 'FontAwesome';
	}
}

.failure{
	color: white !important;
	background-color: #EF6D60;
	&:after{
		content: " \f06a";
		font-family: 'FontAwesome';
	}
}
.editable-input.editable-has-buttons {
    width: auto;
    color: black;
}
.editable-buttons button {
    margin-left: 5px;
    color: black;
}


