<div>
	<h7><b>{{measure.name}}</b></h7>
	<br>
	<span ng-if="measure.threshold.upperWarning">Upper Threshold Warning = {{measure.threshold.upperWarning}}<br></span>
	<span ng-if="measure.threshold.upperAlert">Upper Threshold Alert = {{measure.threshold.upperAlert}}<br></span>
	<span ng-if="measure.threshold.lowerWarning">Lower Threshold Warning = {{measure.threshold.lowerWarning}}<br></span>
	<span ng-if="measure.threshold.lowerAlert">Lower Threshold Alert = {{measure.threshold.lowerAlert}}<br></span>
</div>	